name: Zara Watcher

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  check:
    runs-on: ubuntu-latest

    env:
      ZARA_URL: "https://www.zara.com/ua/uk/%D0%B4%D0%BE%D0%B2%D0%B3%D0%B5-%D0%BF%D0%B0%D0%BB%D1%8C%D1%82%D0%BE-zw-collection-limited-edition-%D1%96%D0%B7-%D0%B7%D0%BC%D1%96%D1%88%D0%B0%D0%BD%D0%BE%D1%96-%D0%B2%D0%BE%D0%B2%D0%BD%D1%8F%D0%BD%D0%BE%D1%96-%D1%82%D0%BA%D0%B0%D0%BD%D0%B8%D0%BD%D0%B8-p08491260.html?v1=452723492&v2=2220625"
      WANTED_SIZES: "S,M"
      SMTP_HOST: "smtp.gmail.com"
      SMTP_PORT: "587"

      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASS: ${{ secrets.SMTP_PASS }}
      EMAIL_TO: ${{ secrets.SMTP_USER }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: corepack enable
      - run: pnpm install
      - run: pnpm exec playwright install --with-deps chromium
      - run: node watch-once.js
